# Comment the line below to production environment
# Comente a linha abaixo para ambiente de produção
setenv ENVIRONMENT dev


# Components of the framework
# Componentes do framework
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !public
RewriteCond $1 !^(index\.php)
RewriteRule ^(.*)$ index.php/$1 [L]