# Comment out the lines below to production environment
# Comente as linhas abaixo para ambiente de produção
# setenv ENVIRONMENT dev


# Configurações do Framework
# Settings Framework
Options -Indexes
RewriteEngine On
RewriteCond $1 !^(index\.php|public/)
RewriteRule ^(.*)$ index.php/$1 [L]