# Comment out the lines below to production environment
# Comente as linhas abaixo para ambiente de produção
# setenv ENVIRONMENT dev


# Configurações do Framework
# Settings Framework
Options -Indexes
RewriteEngine On
RewriteCond $1 !^(index\.php|robots\.txt|sitemap\.xml|public\/)
RewriteRule ^(.*)$ index.php/$1 [L]


# ***************************
# * Caso não funcione, tente:
# * If this fails, try:

	# RewriteEngine on
	# RewriteCond $1 !^(index\.php|robots\.txt|sitemap\.xml|public\/)
	# RewriteRule ^(.*)$ /index.php?_VAKA=/$1 [QSA,L]