/*
* CSS
* File
* Exemple
*/

body{
	font-family:Arial,Verdana;
	color:#474747;
	font-size:14px;
}
#bodyContainer div {
}
#rightColumn {
	width: 838px;
}
#scBox {
	display: none;
	left: 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 99999;
}
#scBoxContent {
	background-color: #FFFFFF;
	border: 1px solid #9F9F9F;
	height: 400px;
	margin: 0 auto;
	padding: 4px;
	position: relative;
	top: 40px;
	width: 900px;
}
#superChart {
	height: 384px;
}
.btClose {
	background-color: #E5E5E5;
	cursor: move;
	display: block;
	padding: 2px;
	text-align: right;
}
.btClose span {
	float: left;
}
.zoomChart, .zoomChart a {
	height: 26px;
	width: 100px;
}
.zoomChart {
	float: right;
	margin-top: 10px;
	position: relative;
	right: 0;
	z-index: 99999;
}
.zoomChart a {
	display: block;
	text-decoration: none;
}
.charts {
	/* margin: 15px; */
	/* width: 769px; */
}
.charts div {
	/* width: 739px; */
}
.boxContent {
	margin-bottom: 10px;
}
#consolidated .stores .store {
	display: none;
}
#consolidated .stores .storerede {
	display: block;
}